<div id="file-processor-div">
    <div class="file-dialog-close" style="color: #000;padding: 10px;float: right" [mat-dialog-close]>
        <span class="material-icons">close</span> 
    </div>
    <div class="file-dialog-close" style="color: #000;padding: 10px 0px 10px 10px;float: right" [mat-dialog-close]>
        <span class="material-icons" matTooltip="Delete File">delete</span> 
    </div>   
    <div style="padding: 20px 0px 0px 20px;">
        <span style="color: #888;font-size: 17px;">File Processor Dialog</span>
    </div>
    <div style="padding: 0px 0px 0px 20px;text-align: center;">
        <span style="color: #888;font-size: 17px;">cibc_utp_ipm_lenders_202329071143.xls</span>
    </div>
    <div class="container">
        <ul class="progressbar">
            <li class="active">File Uploaded</li>
            <li [ngClass]="{'active' : (isValidationState == 'in' || isProcessingState == 'in' || isProcessedState == 'in') ? true : false}">Validated</li>
            <li [ngClass]="{'active' : isProcessedState == 'in' ? true : false}">Processed</li>
        </ul>
    </div>
    <div style="height: 180px;display: flex;justify-content: center;align-items: center;">
        <div [hidden]="! isContinue" style="align-items: center;justify-content: center;">
            <button mat-stroked-button style="padding: 40px 60px 40px 60px;font-size: 17px;" (click)="onContinueClick()">
                Continue
            </button>
        </div>
        <table [hidden]="isContinue">
            <tr>
                <td style="width: 200px">
                    <div [@slideInOut]="isValidationState" style="overflow: hidden;">
                        <img src="assets/images/scaning.gif" height="150px">
                    </div>
                    <div [@slideInOut]="isProcessingState" style="overflow: hidden;">
                        <img src="assets/images/processing.gif" height="150px">
                    </div>
                    <div [@slideInOut]="isProcessedState" style="margin-left: 100px;margin-right: 30px;overflow: hidden;">
                        <img src="assets/images/processed.png" height="120px">
                    </div>
                </td>
                <td style="width: 380px">
                    <div [@slideInOut]="isMessageState" style="color: #888" [innerHTML]="message"></div>
                </td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; height: auto;text-align: center;margin-bottom: 20px;">
        <app-file-details></app-file-details>
    </div>
</div>