<app-header></app-header>
<div id="admin-dashboard">
    <div style="flex-grow: 1">
        <app-user-info></app-user-info>
    </div>
    <div style="flex-grow: 1;height: 100%">
        <div style="padding-top: 30px;text-align: center;">
            <img src="assets/images/logo.png" width="100">
        </div>     
        <div style="padding-top: 0px;text-align: center;">
            <span style="color: #f2f2f2;font-size: 22px;">Lines</span>
        </div>    
    </div>
    <div style="flex-grow: 8">
        <app-manage-user></app-manage-user>
    </div>
</div>