<app-header></app-header>
<div id="dashboard">
    <div style="flex-grow: 3;position: sticky;top: 0">
        <app-file-uploader></app-file-uploader>
    </div>
    <div style="flex-grow: 1;height: 100%;">
        <div style="padding-top: 30px;text-align: center;">
            <img src="assets/images/logo.png" width="100">
        </div>     
        <div style="padding-top: 0px;text-align: center;">
            <span style="color: #f2f2f2;font-size: 22px;">Lines</span>
        </div>    
    </div>
    <div style="flex-grow: 6">
        <app-file-history></app-file-history>
    </div>
</div>